
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(20, 60, 106); /* Cor de fundo para todo o documento */
    overflow: hidden; /* Esconde qualquer scroll bar que possa aparecer */
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.custom-marker .marker-div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    transition: transform 0.3s ease;
}

.custom-marker .marker-div:hover {
    transform: scale(1.5);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    padding: 10px;
}

#footer img {
    height: 50px; 
    vertical-align: middle;
    margin-right: 5px;
}


#footer p {
    display: inline;
    margin: 0;
    color: #fff; /* White Text color */
    font-size: 14px;
}

#footer a {
    color: #ADD8E6; /* Light blue GitHub link color */
}
